name: Check Markdown Links

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 3 1 * *"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Check Markdown Links
        uses: michaelkreil/check-markdown-links@main
        with:
          skip_hosts: |
            www.naturalearthdata.com