name: Check Markdown links

on:
  push:
  schedule:
  - cron: "0 3 1 * *"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
    